.calendar__appointment__matiere {
    font-weight: bold;
    font-size: 10px;
}

.calendar__appointment__prof {
    font-style: italic;
    font-size: 12px;
}

.calendar__appointment {
    background: #f1d8f6;
    color: rgb(209, 49, 201);
    border: #f6d8f1 solid 1px;
    border-left: #d840c4 solid 2px;
    padding: 2px 3px;
    font-size: 11px;
    position: absolute;
    top: -1px;
    right: -1px;
    left: 0;
    z-index: 1;
    min-height: 100%;
    overflow: hidden;
    text-align: center;
}

.TD {
    background: #f6f3d8;
    color: rgb(209, 153, 49);
    border: #f6f6d8 solid 1px;
    border-left: #d8a840 solid 2px;
    overflow: hidden;
}

.CM {
    background: #e0f6d8;
    color: #0c881d;
    border: #e0f6d8 solid 1px;
    border-left: #76db56 solid 2px;
    overflow: hidden;
}

.DS {
    background: #f6d8d8;
    color: #880c0c;
    border: #f6d8d8 solid 1px;
    border-left: #db5656 solid 2px;
    overflow: hidden;
}

.popover-header {
    border: none !important;

}